/**
Generic CSS and CSS-Styled Widgets
*/

body{
    width:100%;
    height:100%;
}

p{
    white-space: pre-line;
}

table.boldfirst tr>td:first-of-type{
    font-weight: bold;
}
table.quantitytable tr>td:first-of-type{
    width:100%;
}

.popup {
    position:fixed;

    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.popup.shown {
    display:initial;
    white-space: initial;
}

.popup.hidden{
    display: none !important;
}

.progressbar{
    width:5em;
    height:1em;
    border-radius: 1em;
    border: 3px solid;
    overflow: hidden;
}
.inner{
    width:0px;
    height:100%;
}

.progressbar.disabled{
    background-image: repeating-linear-gradient(
                45deg,
                yellow 0 .5rem,
                black .5rem 1rem
            );
    background-size:200% 200%;
    animation:progressdisabled 5s linear infinite 0s;
}
    @keyframes progressdisabled {
        100%{
            background-position: 100% 100%;
        }
    }

.progressbar.warmup>div.inner{
    animation-name: warmup;
    animation-timing-function: linear;
    animation-delay: 0s;
}

    @keyframes warmup {
        from {
            background-color: yellow;
            width:0px;
        }
        to{
            background-color: red;
            width:100%;
        }
    }

.progressbar.cooldown>div.inner{
    animation-name: cooldown;
    animation-timing-function: linear;
    animation-delay: 0s;
}

    @keyframes cooldown {
        from {
            background-color: red;
            width:100%;
        }
        to{
            background-color: blue;
            width:0px;
        }
    }

.splitbutton>button:first-of-type{
    border-style: outset none outset outset;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width:1px;
}
.dropdownarrow{
  position: absolute;
  display: inline-block;
}
.dropdownarrow>button{
  border-left-style: solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width:1px;
}
.dropdownarrow>button:after{
  content: "▼";
}

.dropdownarrow>.dropdownlist{
  display:none;
  position: absolute;
  z-index:100;
  background-color:white;
  min-width:100%;
  border-style:outset;
  border-radius: 5px;
}

.dropdownarrow>.dropdownlist>*{
  display:block;
  cursor:pointer;
}

.dropdownarrow>.dropdownlist>*:hover{
  background-color: lightgray;
}

.dropdownarrow:hover>.dropdownlist{
  display:block;
}