table.boldfirst tr>td:first-of-type{
    font-weight: bold;
}

.popup {
    position:fixed;

    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
}

.popup.shown {
    display:initial;
}

.popup.hidden{
    display: none !important;
}

.progressbar{
    width:5em;
    height:1em;
    border-radius: 1em;
    border: 3px solid;
    overflow: hidden;
}
.inner{
    width:0px;
    height:100%;
}

.progressbar.warmup>div.inner{
    animation-name: warmup;
    animation-timing-function: linear;
    animation-delay: 0s;
}

    @keyframes warmup {
        from {
            background-color: yellow;
            width:0px;
        }
        to{
            background-color: red;
            width:100%;
        }
    }

.progressbar.cooldown>div.inner{
    animation-name: cooldown;
    animation-timing-function: linear;
    animation-delay: 0s;
}

    @keyframes cooldown {
        from {
            background-color: red;
            width:100%;
        }
        to{
            background-color: blue;
            width:0px;
        }
    }

#events{
    left: 25vw;
    width:50vw;
    top: 25vh;
    height: 50vh;
    margin: auto;
    z-index: 2;
    background-color: white;
    border-style: double;

}

#events.shown{
    animation-name: openevents;
}

#events.hidden{
    animation-name: closeevents;
}

@keyframes openevents {
    from {
        display:none !important;
        width:0px;
        height:0px;
        flex-wrap: nowrap;
        overflow: hidden;
    }
    to {
        display:initial;
        width: 50vw;
        height:50vh;
        flex-wrap: initial;
        overflow: hidden;
    }
}

@keyframes closeevents {
    from {
        display:initial;
        width: 50vw;
        height:50vh;
        flex-wrap: initial;
        overflow: hidden;
    }
    to {
        display:none !important;
        width:0;
        height:0;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}

#events .eventmain{
    overflow-y: scroll;
}

#eventexit{
    position: absolute;
    left:0;
    right:0;
    bottom:3px;
}


.splitbutton>button:first-of-type{
    border-style: outset none outset outset;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-width:1px;
}
.dropdownarrow{
  position: absolute;
  display: inline-block;
}
.dropdownarrow>button{
  border-left-style: solid;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-width:1px;
}
.dropdownarrow>button:after{
  content: "▼";
}

.dropdownarrow>.dropdownlist{
  display:none;
  position: absolute;
  z-index:100;
  background-color:white;
  min-width:100%;
  border-style:outset;
  border-radius: 5px;
}

.dropdownarrow>.dropdownlist>*{
  display:block;
  cursor:pointer;
}

.dropdownarrow>.dropdownlist>*:hover{
  background-color: lightgray;
}

.dropdownarrow:hover>.dropdownlist{
  display:block;
}