/**
CSS for specific UI Elements
*/

#gamewindow{
    width:100%;
    height:100%;
}

#colony{
    display: inline-flex;
    width: 100%;
    height:100%;
}
#colony>*{
    padding:10px;
}

/**      Title Screen       */
label:has(#loadbutton){
    width:fit-content;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    padding: 1px 6px;
    border-width: 1px;
    border-style: outset;
    border-color: rgb(90, 90, 90);
    border-image: initial;
    border-radius: 3px;
    font-size: inherit;
    font-family: Arial;
    
}

label:has(#loadbutton):hover{
    background-color: rgb(230,230,230);
}
#loadbutton{
    display:none;
}

/** The Colony Screen */
#gamemenu{
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: solid;
    overflow: hidden;
    padding:0;
    background-color: rgb(0, 75, 255);
    border-color: rgb(40, 40, 255);
    border-style: outset;
    border-width: 4px;
    transition: height .1s;
}

#gamemenu>svg{
    display: block;
    width:100%;
    height:1em;
}

#gamemenu>div{
    height:0;
    width: 100%;
    transition: height .1s;
    transition-timing-function: linear;
    overflow: hidden;
    padding-left: 3px;
    padding-right: 3px;
}
#gamemenu:hover>div{
    height: 1.5em;
    padding-bottom:3px;
}
#gamemenu>div *{
    margin-left: 3px;
}


/**      Status Panel ELements        */
.statusbox{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    width:25vw;
    padding-bottom: 5px;
}

.statusbox>.header{
    border:solid;
    border-color: black;
    width:100%;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    
}

.statusbox>.body{
    width:25vw;
    background-color: white;
    border: solid;
    border-top: none;
    overflow: hidden;
}

.statusbox>.body:not(.tall){
    height:25vh;
    animation: statusopen;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

.statusbox>.body.hidden:not(.tall){
    animation: statusclose;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}


@keyframes statusopen {
    from{
        height:0vh;
    }
    to{
        height: 25vh;
    }
}

@keyframes statusclose {
    from{
        height: 25vh;
    }
    to{
        height:0vh;
    }
}

.statusbox>.body.tall{
    height:50vh;
    animation: statusopentall;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

.statusbox>.body.hidden.tall{
    animation: statusclosetall;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

@keyframes statusopentall {
    from{
        height:0vh;
    }
    to{
        height: 50vh;
    }
}

@keyframes statusclosetall {
    from{
        height: 50vh;
    }
    to{
        height:0vh;
    }
}

.statusbox>.body.hidden{
    height:0vh;
}

.statusbox>.body>ul{
    padding-inline-start: 5px;
}

.statusbox button.resize{
    border: groove;
    float:right;
}
    .statusbox button.resize:hover{
        background-color: bisque;
    }
    .statusbox button.resize::after{
        content: "\2353";
    }

.statusbox button.resize.hidden{
    border:inset;
}
    .statusbox button.resize.hidden::after{
        content: "\234C";
        
    }

.fadeoutmask{
    position: absolute;
    width:100%;
    height:30%;
    bottom:0%;
    margin-bottom: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg,rgb(255,255,255,0) 0%, rgb(255,255,255,0.5) 50%,rgb(255,255,255,1) 100%);
}

    #messagebox>div.body.hidden .fadeoutmask{
        display: none;
    }

#messagebox>.header{
    background-color: skyblue;
    color: white;
}

#messagebox ul{
    list-style-type: none;
    
}
#messagebox ul>li{
    margin-bottom: 1em;
    text-indent: -1em;
    margin-left: 1em;
}

#resourcesbox>.header{
    background-color: coral;
    color: white;
}
#itemsbox>.header{
    background-color: #f6ff66;
}
#weaponsbox>.header{
    background-color: #9cff7d;
}


/** HOME PAGES */
#homecontent>div{
    overflow: hidden;
    width:100%;
}

/** NAVBAR */
#homenavbar>*{
    margin-right: 1em;
}
#homenavbar>button:disabled {
    background: linear-gradient(180deg, rgb(221 34 34) 0%, rgb(178,34,34) 100%);
    border-radius: 2px;
    background-color: firebrick;
    color: white;
}

/** ADMIN */
#adminPage fieldset{
    width:50%;
    height:100%;
    padding-bottom: 30px;
}

#adminPage fieldset tbody>tr{
    width:100%;
}
#adminPage fieldset tbody>tr>td:first-of-type{
    width:100%;
}

#adminPage>div{
 width:100%;
}

#adminPage div:first-of-type(){
    /* top bar */
    display:inline-flex;
    align-items: center;
}

/** SECTORS */
#sectorsPage td.task.progress button{
    display: none;
}
#sectorsPage td.task.collect div.progressbar{
    display: none;
}

/** MEEPLE */
#meeplePage{
    display: inline-flex;
}

#meeplePage>fieldset{
    width:50%;
}

table.incrementer.inline{
    display: inline;
}

    table.incrementer.inline tbody{
        display: inherit;
    }

    table.incrementer td.plus::after{
        content:"\25B2";
    }
        table.incrementer td.plus.disabled{
            color: lightgray;
        }

    table.incrementer td.minus::after{
        content:"\25BC";
    }
        table.incrementer td.minus.disabled{
            color: lightgray;
        }

#incometable td:first-of-type{
    width:100%;
}
#incometable td:last-of-type{
    text-align: right;
}

#incometable td.income{
    position: relative;
}

#incometable td.income>table{
    position:fixed;
    transform:translateX(-100%);
    z-index: 100;
    display: none;
    background-color: white;
    border-style: outset;
    white-space:nowrap;
}
    #incometable td.income:hover>table{
        display: block;
    }

    #incometable td.income>table tr.total{
        font-weight: bold;
    }
        #incometable td.income>table tr.total>td:nth-of-type(2){
            border-top: 2px solid black;
        }

    #incometable td.income>table td{
        padding-left: 1em;
    }

/** Travel Prep */
#transport>div{
    display: inline-flex;
    width:30%;
}

table:has(tbody.loadout){
    width:100%;
    border-spacing: .5em;
    border-collapse: separate;
}

tbody.loadout{
    width:100%;
}

tbody.loadout td{
    width:30%;
    height:2em;
    text-align: center;
}
td.loadout{
    border:2px solid black;
    border-radius: 3px;
}
tbody.loadout.weapons td.loadout{
    background-color: mintcream;
}

tbody.loadout.items td.loadout{
    background-color: beige;
}

span.cargo{
    margin:5px;
    border-radius: 3px;
    padding: 1px 3px;
    white-space: nowrap;
}

    span.cargo[data-type="weapon"]{
        background: #9cff7d4d;
    }
    span.cargo[data-type="item"]{
        background: #f6ff664d;
    }
    span.cargo[data-type="resource"]{
        background: #ff7f504d;
    }

/**         MAP            */
#mapBox{
    
    /* Left set so System Log can still show

        Width of Statusboxes = 25vw

        // We're taking both left and right padding because
        // the right-side padding is greater than the Statusbox's
        // border (which we would otherwise need to compensate for)
        // and adds an automatic padding between the Map and Statusboxes
        Colony Div Padding, left and right = 10px x 2

        Body Margin = 8px
    */
    left:calc(25vw + 28px);
    top: 50%;
    z-index: 1;
    background-color: white;
    border: groove 5px;
    font-size:  larger;
    transform: translate(0, -50%);
    padding:5px;
}

#foodRepairBox{
    font-family: 'Courier New', Courier, monospace;
}

#foodRepairBox span:first-of-type{
    font-weight: bold;
}

#map{
    font-family:monospace;
    display:inline;
    letter-spacing:1em;
    font-size: large;
}



/**        EVENTS          */
#events{
    left: 25vw;
    width:50vw;
    top: 25vh;
    height: 50vh;
    margin: auto;
    z-index: 3;
    background-color: white;
    border-style: double;
    font-size: large;
}

#events.shown{
    animation-name: openevents;
}

#events.hidden{
    animation-name: closeevents;
}

@keyframes openevents {
    from {
        display:none !important;
        width:0px;
        height:0px;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
    }
    to {
        display:initial;
        width: 50vw;
        height:50vh;
        flex-wrap: initial;
        white-space: nowrap;
        overflow: hidden;
    }
}

@keyframes closeevents {
    from {
        display:initial;
        width: 50vw;
        height:50vh;
        flex-wrap: initial;
        white-space: nowrap;
        overflow: hidden;
    }
    to {
        display:none !important;
        width:0;
        height:0;
        flex-wrap: nowrap;
        white-space: nowrap;
        overflow: hidden;
    }
}

#events .eventmain{
    overflow-y: scroll;
}

#events>p:has(span.gameover){
    height: 100%;
    height:-webkit-fill-available;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
#events .gameover{
    font-weight: bold;
    font-size: xx-large;
}

#eventexit{
    position: absolute;
    left:0;
    right:0;
    bottom:3px;
}